* {
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
} 

a {
    font-size: 16px;
}

figcaption {
    text-align: center;
    padding: 6px;
}

/* section {
    padding: 16px;
} */

/* Defining Font Sizes */
/* 

h2 {
    font-size: 32px;
    padding: 50px 16px;
    text-align: center;
    background-color: #00274C;
    color: #ffffff;
}

h3 {
    font-size: 28px;
    text-align: center;
    padding: 12px;
}

h4 {
    font-size: 24px;
    padding: 12px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 16px;
    padding: 12px;
}

a {
    color: #000000;
}
span {
    color: #751710;
    font-weight: 700;
}

section div.content{
    margin: 16px;
}

article {
    display: grid;
    grid-template-columns: auto;
}

img {
    display: block;
    margin: auto;
    width: 100%;
}

button {
    background-color: #00274C;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 20px;
}

button:hover {
    background-color: #FFCB05;
    color: #00274C;
}
*/
footer {
    background-color: #00274C;
    color: #FFCB05;
    padding: 20px;
}

footer a {
    color: white;
}

a {
    font-size: 16px;
}

.skip {
    position: absolute;
    top: -40px;
    border: #00274C;
    background-color: #ffffff;
}

.skip:focus {
    position: absolute;
    top: 20px;
}

nav {
    width: 100%;
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
}

div.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

div.profile_buttons{
    display: flex;
    flex-direction: column;
    align-items: left;
}

nav a {
    display: inline-block;
    padding: 12px 0px;
    text-decoration: none;
    color: #000000;
}

nav a:hover{
    text-decoration: underline;
}

nav a.current_page {
    text-decoration: underline;
}

nav a.log_out{
    padding: 12px 24px;
    border: none;
    border-radius: 100px;
    background-color: #00274C;
    color: #ffffff;
}

nav a.log_out:hover{
    background-color: #FFCB05;
    color: #000000;
    text-decoration: none;
} 

header div.title_and_info {
    padding: 80px;
    text-align: center;
}

header div.title_and_info h1{
    font-size: 32px;
    padding: 12px;
}

section {
    margin: 16px 16px;
}

h2 {
    font-size: 24px;
    padding-bottom: 16px;
}

/* Code for creating style for the study locations page */
#social_study{
    margin: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

#quiet_study{
    margin: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

div.study_card {
    display: inline-block;
    border-radius: 16px;
}

div.study_card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

div.study_information {
    margin: 10px;
}

div.study_card h3{
    font-size: 20px;
}

div.courses_info {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 16px;
}

table {
    text-align: left;
    background-color: #f4f4f4;
    overflow: hidden;
    width: 100%;
}

th {
    background-color: #00274C;
    color: #ffffff;
    padding: 12px 6px;
    text-align: center;
}

th.course_code {
    background-color: #702082;
    border-left: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 10px 100px #702082;
}

th.course_name {
    background-color: #2F65A7;
    border-left: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 10px 100px #2F65A7;
}

th.credits {
    background-color: #00B2A9;
    border-left: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 10px 100px #00B2A9;
}

td {
    padding: 6px 12px;
    border-left: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
} 

tr {
    border-left: 0px;
    border-right: 0px;
}

div.courses_info div h3 {
    font-size: 20px;
    padding-bottom: 6px;
}

.course_requirements{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 24px 0px;
}

button {
    background-color: #00274C;
    color: white;
    border-radius: 100px;
    padding: 12px 24px;
    font-size: 16px;
}

button:hover{
    background-color: #FFCB05;
    color: #000000;
}
/*
.article {
    padding: 16px 0;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
}

.article img {
    grid-column: 1 / 2;
    width: 75%;
}

.information {
    margin: 16px;
    padding: 20px;
}
*/

@media screen and (min-width: 1000px){

    section {
        margin: 32px 32px;
    }

    nav {
        flex-direction: row;
        padding: 0px 32px;
        height: 80px;
        justify-content: space-between;
        align-items: center;
    }

    nav a {
        padding: 12px 24px;
    }

    div.links {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    div.links a:first-child{
        padding-left: 0px;
    }

    div.profile_buttons{
        flex-direction: row;
    }

    header div.title_and_info h1{
        font-size: 48px;
    }

    h2 {
        font-size: 32px;
        padding-bottom: 32px;
    }

    #social_study{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #quiet_study{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    div.courses_info {
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        justify-items: center;
    }

    div.courses_info div h3 {
        font-size: 24px;
        padding-bottom: 10px;
    }

    .course_requirements{
        flex-direction: column;
        justify-content: space-around;
        padding: 48px 0px;
    }
    .course_requirements p{
        font-size: 20px;
    }
    /* header div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 32px;
        padding-right: 32px;
    }
    header div img{
        margin: 0px;
        display: inline;
        height: 36px;
        width:fit-content;
    }

    nav {
        flex-direction: row;
    } 
    nav li {
        display: inline-block;
        width:fit-content;
    }

    article {
        grid-template-columns: 20% 20% 20% 20% 20%;
        justify-content: center;
    }

    article h3 {
        grid-column: 1 / 6;
    }

    article img {
        grid-column: 1 / 2;
    }

    article p {
        grid-column: 2 / 6;
        justify-content: center;
    }

    .study_card{
        grid-template-columns: 25% 25% 25% 25%;
    } */
} 