* {
    box-sizing: border-box;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 36px;
    padding: 100px 16px;
    text-align: center;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
    text-align: center;
    padding: 12px;
}

h4 {
    font-size: 24px;
    padding: 12px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 16px;
    padding: 12px;
}

a {
    color: #000000;
}
span {
    color: #751710;
    font-weight: 700;
}

figcaption {
    text-align: center;
    padding: 6px;
}

header img{
    width: 10%;
    display: inline;
}

nav {
    background-color: #00274C;
}

nav a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
}

nav a:hover {
    background-color: #FFCB05;
    color: #00274C;
}

section {
    padding: 16px 0;
}

section h2 {
    padding: 50px 0;
    text-align: center;
    background-color: #00274C;
    color: #ffffff;
}

section article {
    display: grid;
    grid-template-columns: auto;
}

img {
    display: block;
    margin: auto;
    width: 100%;
}

table {
    width: 100%;
    border: 1px solid #00274C;
    text-align: left;
    overflow-x: auto;
}

th {
    background-color: #00274C;
    color: #ffffff;
    padding: 12px 6px;
}

td {
    padding: 12px;
}

button {
    background-color: #00274C;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 20px;
}

button:hover {
    background-color: #FFCB05;
    color: #00274C;
}

footer {
    background-color: #00274C;
    color: #FFCB05;
    padding: 20px;
}

footer a {
    color: white;
}

.skip {
    position: absolute;
    top: -40px;
    border: #00274C;
    background-color: #ffffff;
}

.skip:focus {
    position: absolute;
    top: 20px;
}

.study_card{
    margin: 16px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 16px;
}

.resources {
    padding: 16px 0;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
}

.resources img {
    grid-column: 1 / 2;
    width: 75%;
}

.resources h3 {
    grid-column: 2 / -1;
    text-align: left;
}

.resources div {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

.information {
    margin: 16px;
    padding: 20px;
}

article {
    margin: 16px;
    padding: 20px; 
}

